<% if object[:benchmarks] %>
<div class="tags">
  <h4>Benchmarks:</h4>
  <ul class="benchmarks">
    <% for bm in object[:benchmarks] %>
      <% val = "%.2f" % bm.values[0] %>
      <li><span class="name">×<%= bm.keys[0] %></span> ⇒ <%= val %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
