# encoding: utf-8

<% if object[:benchmarks] %>
<div class="tags">
  <h3>Benchmarks:</h3>
  <ul class="benchmarks">
    <% for bm in object[:benchmarks] %>
      <li><%= bm[:name] %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
